/* .redEmployeeName {
    background-color: #fdf2f2 !important;
}
.redEmployeeName .sapMText {
    color: #e74c3c !important;
    font-weight: bold;
} */

.redEmployeeName {
    color: red !important;
    font-weight: bold;
}
.highlightRed {
    color: red;
    font-weight: bold;
}
.sapMITBFilter .sapMITBText{
    width: 8rem !important;
}

.sapMITBTab{
    width: 7.5rem !important;
}